@charset "UTF-8";
span {
  font-family: 'Open Sans',Arial, '微軟正黑體',sans-serif;
  font-size: 14px;
  font-weight: 400; }

.box-size {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.w50 {
  width: 48%;
  float: left;
  margin: 0px 1%; }

.clean-check {
  margin-right: 10px; }

.col-sm-10 ol.clean-list li {
  font-family: 'Open Sans',Arial, '微軟正黑體',sans-serif;
  font-size: 14px;
  font-weight: 400; }

ol.clean-list {
  list-style-type: upper-greek;
  padding-left: 15px; }

.confirmForm h4 {
  border-left: #36bbd9 5px solid;
  padding-left: 20px;
  margin-bottom: 20px; }

input[type="radio"] {
  display: none; }

input[type="radio"] + label {
  color: #656565;
  font-family: Arial, sans-serif;
  display: inline-block;
  margin: 10px 0;
  padding-right: 20px; }

input[type="radio"] + label span {
  text-indent: .9em;
  color: #656565;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #656565;
  cursor: pointer;
  font-size: 20px;
  position: relative;
  margin-right: 10px; }

input[type="radio"]:checked + label span {
  text-indent: .9em;
  color: #656565;
  display: inline-block;
  width: 8px;
  height: 15px;
  border: solid #249fba;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
  font-size: 20px;
  position: relative;
  margin-right: 10px; }

input[type="radio"]:checked + label {
  color: #249fba; }

/*clean_house-box*/
.clean-check input[type="radio"] {
  display: none; }

.clean-check input[type="radio"] + label {
  color: #656565;
  font-family: Arial, sans-serif;
  display: inline-block;
  margin: 3px 0;
  padding-left: 0px;
  padding-right: 10px; }

.clean-check input[type="radio"] + label span {
  text-indent: .9em;
  color: #656565;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #656565;
  cursor: pointer;
  font-size: 20px;
  position: relative;
  margin-right: 10px; }

.clean-check input[type="radio"]:checked + label span {
  text-indent: .9em;
  color: #656565;
  display: inline-block;
  width: 8px;
  height: 15px;
  border: solid #249fba;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
  font-size: 20px;
  position: relative;
  margin-right: 10px; }

.clean-check input[type="radio"]:checked + label {
  color: #249fba; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label {
  color: #656565;
  font-family: Arial, sans-serif;
  display: inline-block;
  margin: 3px 0;
  padding-left: 0px;
  padding-right: 10px; }

input[type="checkbox"] + label span {
  text-indent: .9em;
  color: #656565;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #656565;
  cursor: pointer;
  font-size: 20px;
  position: relative;
  margin-right: 10px; }

input[type="checkbox"]:checked + label span {
  text-indent: .9em;
  color: #656565;
  display: inline-block;
  width: 8px;
  height: 15px;
  border: solid #249fba;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
  font-size: 20px;
  position: relative;
  margin-right: 10px; }

input[type="checkbox"]:checked + label {
  color: #249fba; }

.form-group label span {
  color: red; }

.p-style {
  font-family: 'Open Sans',Arial, '微軟正黑體',sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #656565; }

#contactForm .btn-success:hover {
  background-color: gray; }
